<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update a Rocket</title>
</head>
<body>
  <h1>Update A Rocket</h1>

    <form method="POST" action="/rockets/<%= rocket.rocket_id %>">
      <input type="text" name="rocket_name" placeholder="<%= rocket.rocket_name %>"/>
      <button type="submit">Update Rocket</button>
    </form>

</body>
</html>